# .gitignore

# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pyz
*.pyzw
*.egg-info/
dist/
build/
*.egg
*.spec

# Environments
.env
.venv/
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# Database
*.db
*.sqlite

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
env
